@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gl-0 dark:bg-gd-0 text-gl-600 dark:text-gd-600 scroll-smooth;
}

@layer base {
  h1 {
    @apply text-h1_sm leading-xl font-semibold md:text-h1_md md:font-bold md:leading-xxl md:tracking-tight lg:leading-3xl lg:text-h1_lg;
  }

  h2 {
    @apply tracking-tight leading-sm font-semibold text-h2_sm lg:leading-xl lg:text-h2_lg;
  }

  h3 {
    @apply tracking-tight leading-md font-semibold text-h3_sm lg:text-h3_lg lg:leading-lg;
  }

  img {
    @apply block w-full h-auto;
  }
}

@layer components {
  .subtitle {
    @apply leading-sm text-md font-normal lg:leading-sm lg:text-lg;
  }

  .body1 {
    @apply leading-xs text-base font-normal lg:leading-sm lg:text-md;
  }

  .body2 {
    @apply leading-xs text-base font-normal;
  }

  .body3 {
    @apply leading-xxs text-sm font-normal;
  }

  .icon-stroke {
    @apply stroke-gl-600 dark:stroke-gd-600;
  }

  .icon-fill {
    @apply fill-gl-600 dark:fill-gd-600;
  }

  .link {
    @apply font-normal text-base leading-xs cursor-pointer transition-all duration-150 text-gl-600 dark:text-gd-600;
  }
  .link:hover,
  .link:focus,
  .link:active,
  .link.active {
    @apply text-gl-900 dark:text-gd-900;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }

  .link:active,
  .link.active {
    @apply text-gl-600 dark:text-gd-600;
  }

  .link.menu {
    @apply font-medium;
  }

  .link.menu:hover,
  .link.menu:focus,
  .link.menu:active,
  .link.menu.active {
    text-decoration: none;
  }

  .button {
    @apply py-[0.375rem] px-4 rounded-xl text-base font-medium leading-xs text-gl-50 dark:text-gd-50 bg-gl-900 dark:bg-gd-900 transition-all duration-150 cursor-pointer;
  }

  .button:hover,
  .button:focus {
    @apply bg-gl-700 dark:bg-gd-700;
  }

  .button:active,
  .button.active {
    @apply bg-gl-800 dark:bg-gd-800;
  }

  .button.icon {
    @apply p-[0.375rem] bg-transparent;
  }

  .button.icon:hover,
  .button.icon:focus {
    @apply bg-gl-100 dark:bg-gd-100;
  }

  .button.icon:active,
  .button.icon.active {
    @apply bg-gl-200 dark:bg-gd-200;
  }

  .tag {
    @apply inline-flex justify-center py-1 px-5 rounded-xl text-sm leading-xxs font-medium text-gl-600 dark:text-gd-600 bg-gl-200 dark:bg-gd-200;
  }
}
